.main{ 
    border-spacing: 100px;
    width:100%;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.second{
    width:100%;
}
.third{
    width: 100%;
    border: 1px solid black;
}
td{
    width: 100%;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}





