body{
    background: rgb(248,255,14);
background: linear-gradient(90deg, rgba(248,255,14,1) 0%, rgba(255,253,44,1) 19%, rgba(0,255,122,1) 50%, rgba(0,12,255,1) 100%);
}
table { table-layout: fixed;
    width: 100%;;
    border-collapse: collapse;
}
td {height: 100px;
    
        width: 100px;
        height: 100px;
        
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
      
    border: 1px solid rgb(150, 11, 11);
}
th { height: 100px;
    border: 1px solid rgb(150, 11, 11);
}
tr { 
    background: rgb(0,255,122);
    background: linear-gradient(90deg, rgba(0,255,122,1) 0%, rgba(255,44,44,1) 43%, rgba(0,12,255,1) 100%);
    border: 1px solid rgb(150, 11, 11);
 }
 
 td:hover{
    background: rgb(255,44,44);
    background: linear-gradient(90deg, rgba(255,44,44,1) 0%, rgba(247,255,0,1) 100%);
 }

  td:hover { 
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
