body{
    background-color: bisque;
}
h1{
    font-size:300%;
    font-family: serif;
    text-align-last: center;
}
h3{
    font-size: 170%;
    font-family: serif;
    text-align-last: center;
}
hr{
    border:none;
    color: black;
    background-color:black;
    height: 1px;
}
a:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    border: 1px solid black;
}
a{  display: flex;
    align-items:center;
    justify-content: center;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    width: 180px;
    height: 496.8px;  
    text-decoration: none;
    color: black;
    font-size: 170%;
    font-family: monospace;
    text-align: center;
}
.web{
    display: flex;
    align-items:center;
    justify-content: space-around;
}

