body{
    background-color: bisque;
}
h1{
    font-size:300%;
    font-family: serif;
    text-align-last: center;
}
h3{
    font-size: 170%;
    font-family: serif;
    text-align-last: center;
}
table{
    margin: auto;
    width: 60%;
}
td{
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    width: 25%;
    height: 496.8px;
    position: relative;
}
td:hover{
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
}
td a{
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
}
p{  
    font-size: 170%;
    font-family: monospace;
    text-align: center;
    margin-top: 235.4px;
}
hr{
    border:none;
    color:black;
    background-color:black;
    height: 1px;
}

