body{
    background-color: blanchedalmond;
}
a{
    color:blue;
    margin:10px
}
.first{
    display: flex;
    flex-direction: column;
}
.second{
    display: flex;
    flex-direction: column;
}
.visited:visited{
    color: gray;
}
.link:link{
    color:green;
}
.active:active{
    color:tomato;
}
.focus:focus{
    color:thistle;
}
.hover{
    margin-left: 10px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}
.hover:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
input{
    margin-left: 50px;
}
li:first-child{
    color:grey;
}


