body{
    background: rgb(96,222,227);
    background: linear-gradient(90deg, rgba(96,222,227,1) 0%, rgba(213,231,33,1) 42%, rgba(193,0,255,1) 100%);
}
table { table-layout: fixed;
    width: 100%;;
    border-collapse: collapse;
}
td {height: 100px;
    font-family: sans-serif;
        width: 100px;
        height: 100px;
        
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
      
    border: 1px solid rgb(150, 11, 11);
}
th { height: 100px;
    border: 1px solid rgb(150, 11, 11);
}
tr { 
    background: rgb(227,129,96);
background: linear-gradient(90deg, rgba(227,129,96,1) 0%, rgba(60,205,202,1) 45%, rgba(38,221,87,1) 100%);
    border: 1px solid rgb(150, 11, 11);
 }
 
 td:hover{
    background: rgb(250,119,2);
background: linear-gradient(45deg, rgba(250,119,2,1) 0%, rgba(60,205,89,1) 45%, rgba(38,44,221,1) 100%);
 }

  td:hover { 
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
