body{
    background: rgb(255,167,0);
background: linear-gradient(117deg, rgba(255,167,0,0.6220238095238095) 0%, rgba(215,0,91,1) 100%);
}
table { table-layout: fixed;
    width: 100%;;
    border-collapse: collapse;
}
td{
    height: 100px;
    font-family: sans-serif;
        width: 100px;
        height: 100px;    
        -webkit-transition: all 0.3s ease;;
        -moz-transition: all 0.3s ease;;
        -o-transition: all 0.3s ease;;
        transition: all 0.3s ease;
    border: 1px solid rgb(0, 0, 0);
}
th{ height: 100px;
    border: 1px solid rgb(0, 0, 0);
}
tr{ 
    text-align-last:center ;
    font-size: 150%;
    background: rgb(249,255,0);
    background: linear-gradient(117deg, rgba(249,255,0,0.6220238095238095) 0%, rgba(253,45,150,1) 100%);
}
 td:hover{
    background: rgb(255,205,0);
    background: linear-gradient(130deg, rgba(255,205,0,0.5996148459383753) 0%, rgba(215,0,98,0.3895308123249299) 100%);
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
h1{
    font-family:sans-serif;
    text-align-last: center;
}