.main{ 
    border-spacing: 30px;
    width:100%;
}
.first{
    width: 20%;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.second{
    width: 80%;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto }
}




